.card {
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 220px;
  height: 260px;
  border: 1px solid #F8E8F8;
  border-radius: 40px;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;

  &:hover {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  .itemName {
    margin: 14px 0 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  span {
    color: #BDBDBD;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    opacity: .7;
  }
}

.add {
  cursor: pointer;
}