* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
  overflow-y: scroll !important;
}


.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 20px auto;
}

.content {
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px
  }

  .search-block {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 15px;
    width: 250px;


    input {
      border: none;
      padding: 0;
      font-size: 14px;
      width: 100%;
    }

    input::placeholder {
      color: #C4C4C4;
    }
  }
}



